.input {
  width: 300px;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  padding: 10px;
}

.button {
  background-color: cornsilk;
  color: blue;
  font-size: 16pt;
  font-weight: bold;
  border: solid 2px blue;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 20px;
  width: 300px;
}

.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.loader-container .loader {
  border: 5px solid #f3f3f3;
  /* Light grey */
  border-top: 5px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  margin-bottom: 20px;
}

.loader-container .text {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 15pt;
  font-weight: bold;
}

.navbar-custom {
  background-color: #3498db;
}

.navbar-custom .navbar-brand {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 20pt;
  color: white;
}

.navbar-custom .navbar-nav {
  margin-left: auto;
}

.navbar-custom .nav-item {
  font-family: "Nunito", sans-serif;
  font-size: 16pt;
}

.navbar-custom .nav-item .btn {
  background-color: transparent;
  font-size: 14pt;
  color: black;
  /* border-color: transparent; */
}

.postlist {
  width: 100%;
  margin-top: 20px;
}

.postlist .list-group-item {
  margin-bottom: 10px;
  border-radius: 10px;
}

.postlist .post-item-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.postlist .post-item-container .time {
  margin-left: auto;
  margin-right: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.postlist .post-item-container .title {
  font-family: "Nunito", sans-serif;
  font-size: 18pt;
  color: #333;
}

.postlist .post-item-container .btn {
  margin-left: 20px;
}

.commentlist .list-group-item {
  margin-bottom: 10px;
  border-radius: 10px;
  /* width: 70%; */
}

.commentlist .comment-item-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.commentlist .comment-item-container .username {
  margin-left: auto;
  font-family: "Nunito", sans-serif;
  font-size: 16pt;
  font-weight: bold;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
