.posts .main-canvas {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.posts .collapse {
  width: 100%;
  padding: 20px;
  background-color: cadetblue;
  border-radius: 10px;
}

.posts .collapse .textbox {
  font-family: "Nunito", sans-serif;
}

.posts .add-btn-grp {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  margin: 10px;
}

.posts .add-btn-grp .text {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16pt;
  margin-left: 20px;
  margin-right: 20px;
  color: brown;
}

.posts .add-btn-grp .btn {
  font-family: "Nunito", sans-serif;
  font-size: 15pt;
  font-weight: 600;
  padding: 10px;
  background-color: transparent;
  border: solid 2px black;
  color: blueviolet;
}

.posts .post-input .input {
  margin-bottom: 10px !important;
}

.posts .article-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.posts .article-input .input {
  width: 100% !important;
  margin-bottom: 0px !important;
  margin-right: 20px;
}

.posts .article-input .btn {
  background-color: white;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  color: black;
  border: solid 2px black;
}
