.postDetails {
  padding: 20px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.postDetails .content-container {
  display: flex;
  flex-direction: row;
}

.postDetails .content {
  /* text-align: left; */
  margin-bottom: 20px;
  margin-right: 10px;
  font-size: 14pt;
}

.postDetails .btn-container {
  margin-left: auto;
}

.postDetails .btn-edit {
  padding: 5px;
  margin-bottom: 15px;
  background-color: black;
  color: white;
  border-radius: 25px;
  height: 50px;
  width: 50px;
}

.postDetails .btn-save {
  padding: 5px;
  /* margin-left: auto; */
  background-color: cadetblue;
  color: white;
  border-radius: 25px;
  height: 50px;
  width: 50px;
}

.postDetails .post-edit-box {
  margin-bottom: 20px;
  margin-right: 10px;
  min-height: 300px;
}

.postDetails .btn-edit .icon {
  margin: 10px;
}

.postDetails .comment-title {
  margin: 20px;
  font-size: 18pt;
  font-weight: 700;
  font-family: "Nunito", sans-serif;
  color: blueviolet;
}

.comment-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.comment-box {
  width: 80%;
  margin-right: 20px;
}
