.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-items: center; */
}

.register .title {
  font-family: "Montserrat", sans-serif;
  font-size: 20pt;
  font-weight: bold;
  margin: 30px;
  text-align: center;
}
